.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 377px;
    margin: 40px auto auto auto;
    border: 1px solid grey;
    border-radius: 16px;
}

.pineconeText {
    color: #3B73ED;
}

.textContainer {
    display: flex;
    justify-content: center;
    gap: 6px;
}